.*
!.gitignore
!.gitattributes
*.out
_*

slurm_logs

results/*

!results/metadata
results/metadata/*
!results/metadata/merged_metadata.csv

!results/crits_christoph_data
results/crits_christoph_data/*
!results/crits_christoph_data/check_sha512_vs_crits_christoph.csv

!results/mitochondrial_genomes
results/mitochondrial_genomes/*
!results/mitochondrial_genomes/retained.csv

!results/aggregated_counts
results/aggregated_counts/*
!results/aggregated_counts/*.csv

!results/contigs
results/contigs/*
!results/contigs/counts_and_coverage
results/contigs/counts_and_coverage/*
!results/contigs/counts_and_coverage/processed_counts.csv

!results/plots
results/plots/*
!results/plots/susceptible_table.csv
!results/plots/susceptible_table.tex
!results/plots/raccoon_dog_long.csv

!results/rt_qpcr
results/rt_qpcr/*
!results/rt_qpcr/rt_qpcr.csv
